<body>
<div class="main-container">
  <div class="container-fluid text-center">
    <!--<div class="assessment-heading text-center font-weight-bold">Physical Fitness</div>-->
    <div class="row mt-3 mb-5">
      <div class="trend-analysis-container mx-auto" style="width: 95%;">
        <div class="trend-analysis make-flex mt-3 mb-4">
          <div class="schedule">Trend Analysis</div>
          <div class="trend-select position-relative">
            <select class="analysis-dropdown">
              <option value="physical">Physical</option>
              <option value="mental">Mental</option>
              <option value="nutrition">Nutrition</option>
            </select>
            <i class="fa fa-caret-down position-absolute"></i>
          </div>
        </div>
        <div class="graph-container">
          <div id="fitness_graph">

          </div>
          <div id="nutrition_graph" class="d-none">

          </div>
          <div id="mental_graph" class="d-none">

          </div>
        </div>
      </div>
      <div class="schedule-container d-none w-100">
        <div class="week-container make-flex mt-3 mb-4">
          <div class="schedule">Fitness Schedule</div>
          <div class="make-flex">
            <div class="week week-active">Week 1</div>
            <div class="lr-angle">
              <i class="fa fa-angle-left fa-2x mr-2" aria-hidden="true"></i>
              <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div>
          <div id="nav-tabs" class="position-relative">
            <ul class="week-days">
              <li class="mon col-2"><a class="active">Mon</a></li>
              <li class="tue col-2"><a>Tue</a></li>
              <li class="wed col-2"><a>Wed</a></li>
              <li class="thu col-2"><a>Thu</a></li>
              <li class="fri col-2"><a>Fri</a></li>
              <li class="sat col-2"><a>Sat</a></li>
            </ul>
            <div class="nav-overlay position-absolute">
              <div class="overlay-indicator position-absolute">

              </div>
            </div>
          </div>
          <div class="tab-content user-tab-mobile">
            <div id="tab-mon" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Monday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div id="tab-tue" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Tuesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-wed" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Wednesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-thu" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Thursday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-fri" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Friday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-sat" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Saturday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">6</td>
                      <td class="drill-stat">10</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">100m</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">5</td>
                      <td class="drill-stat">22</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comparison d-none">
        <div class="comparison-analysis mt-3 mb-4 make-flex">
          <div class="schedule">Comparison</div>
          <div class="trend-select position-relative">
            <select class="analysis-dropdown comparison_analysis">
              <option value="physical">Physical</option>
              <option value="tennis">Tennis</option>
            </select>
            <i class="fa fa-caret-down position-absolute"></i>
          </div>

          <!--<div class="trend-select position-relative">-->
          <!--<select class="analysis-dropdown attribute_select" style="width:250px;">-->
          <!--<option value="agility" selected>Agility</option>-->
          <!--<option value="balance">Balance</option>-->
          <!--<option value="endurance">Endurance</option>-->
          <!--<option value="flexibility">Flexibility</option>-->
          <!--<option value="speed">Speed</option>-->
          <!--</select>-->
          <!--<i class="fa fa-caret-down position-absolute"></i>-->
          <!--</div>-->
        </div>
        <div class="comparison-graph-container">
          <div class="comparison_graph_div">
            <div id="physical_comparison_graph" class="w-100">
            </div>
            <div id="tennis_comparison_graph" class="d-none w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="events d-none w-100">
        <div>
          <div class="schedule mt-2 mb-3">Events</div>
          <div id="nav-tabs" class="position-relative">
            <ul class="week-days">
              <li class="upcoming col-6"><a class="active">Upcoming</a></li>
              <li class="past col-6"><a>Past</a></li>
            </ul>
            <div class="nav-overlay position-absolute">
              <div class="overlay-indicator position-absolute">

              </div>
            </div>
          </div>
          <div class="tab-content user-tab-mobile">
            <div id="tab-upcoming" class="event-tab">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Upcoming Events</div>
                <div class="athlete-drills">
                  <div class="dashboard-fixed-portlet make-flex">
                    <div>
                      <div>
                        <div class="event-name-date">
                          <span class="event-name">Tennis</span>
                          <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 10, 2017
                        </span>
                        </div>
                      </div>
                      <div class="event-venue">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                      </div>
                    </div>
                    <div class="event-icon">
                      <img src="/tennis.png">
                    </div>
                  </div>
                  <div class="dashboard-fixed-portlet make-flex">
                    <div>
                      <div>
                        <div class="event-name-date">
                          <span class="event-name">Physical Assessment</span>
                          <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 15, 2017
                        </span>
                        </div>
                      </div>
                      <div class="event-venue">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                      </div>
                    </div>
                    <div class="event-icon">
                      <img src="/assessment.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-past" class="event-tab">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Past Events</div>
                <div class="athlete-drills">
                  <div class="dashboard-fixed-portlet make-flex">
                    <div>
                      <div>
                        <div class="event-name-date">
                          <span class="event-name">Tennis Assessment</span>
                          <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> October 27, 2017
                        </span>
                        </div>
                      </div>
                      <div class="event-venue">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                      </div>
                    </div>
                    <div class="event-icon">
                      <img src="/tennis.png">
                    </div>
                  </div>
                  <div class="dashboard-fixed-portlet make-flex">
                    <div>
                      <div>
                        <div class="event-name-date">
                          <span class="event-name">Tennis Assessment</span>
                          <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> October 10, 2017
                        </span>
                        </div>
                      </div>
                      <div class="event-venue">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                      </div>
                    </div>
                    <div class="event-icon">
                      <img src="/tennis.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="select-footer make-flex">
  <div class="col-3">
    <div class="trend-analysis-select text-center">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <div><span>Trends</span></div>
    </div>
  </div>
  <div class="col-3">
    <div class="schedule-select text-center">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <div><span>Schedule</span></div>
    </div>
  </div>
  <div class="col-3">
    <div class="comparison-select text-center">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <div><span>Comparison</span></div>
    </div>
  </div>
  <div class="col-3">
    <div class="events-select text-center">
      <i class="fa fa-history" aria-hidden="true"></i>
      <div><span>Events</span></div>
    </div>
  </div>
</div>
</body>
<% current_year = Time.current.year %>
<% current_week_of_the_year = Date.today.strftime("%W").to_i %>
<script>
  Highcharts.chart('fitness_graph', {

    chart: {
      type: 'column'
    },

    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6'],
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
      <% user_physical_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_physical_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_physical_score_map[key].present? and user_physical_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
      <% end if user_physical_score_map.present? %>
    ],


  });
</script>

<script>
  var trends_graph_width = $('#fitness_graph').width();
  Highcharts.chart('nutrition_graph', {

    chart: {
      type: 'column',
      width: trends_graph_width
    },
    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6']
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
      <% user_nutrition_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_nutrition_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_nutrition_score_map[key].present? and user_nutrition_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
      <% end if user_nutrition_score_map.present? %>
    ],

  });
</script>

<script>
  var trends_graph_width = $('#fitness_graph').width();
  Highcharts.chart('mental_graph', {

    chart: {
      type: 'column',
      width: trends_graph_width
    },
    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6']
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
      <% user_mental_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_mental_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_mental_score_map[key].present? and user_mental_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
      <% end if user_mental_score_map.present? %>
    ],

  });
</script>

<script>
  Highcharts.chart('physical_comparison_graph', {

    chart: {
      type: 'bar'
    },
    title: {
      text: 'Fitness Benchmark'
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: <%= sanitize user_physical_score_map.keys.inspect %>
    },
    series: [{
      name: 'You',

      data: [<% user_physical_score_map.keys.each do |key| %>
        <% score_arr = user_physical_score_map[key].collect{|m| m.score}.compact %>
        <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
        <% end%>
      ]

    },
      {
        name: 'Your Peers',
        data: [11, 12, 11, 12, 13]
      },
      {
        name: 'National Record',
        data: [18, 17, 19, 20, 19]
      },
      {
        name: 'World Record',
        data: [19, 19, 20, 20, 19]
      }],

  });
</script>

<script>
  var comparision_graph_width = $('#fitness_graph').width();
  Highcharts.chart('tennis_comparison_graph', {

    chart: {
      type: 'bar',
      width: comparision_graph_width
    },
    title: {
      text: 'Tennis Benchmark'
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Forehand Accuracy', 'Backhand Accuracy', 'Serve Speed',]
    },
    series: [{
      name: 'You',
      data: [11, 12, 13]
    },
      {
        name: 'Your Peers',
        data: [11, 12, 11]
      },
      {
        name: 'National Record',
        data: [18, 17, 19]
      },
      {
        name: 'World Record',
        data: [19, 19, 20]
      }],

  });
</script>
