<body>
<div class="main-container">
  <div class="container-fluid text-center">
    <!--<div class="assessment-heading text-center font-weight-bold">Physical Fitness</div>-->
    <div class="row mt-5">
      <div class="col-sm-6">
        <div class="trend-analysis make-flex">
          <div class="schedule">Trend Analysis</div>
          <div class="trend-select position-relative">
            <select class="analysis-dropdown">
              <option value="physical">Physical</option>
              <option value="mental">Mental</option>
              <option value="nutrition">Nutrition</option>
            </select>
            <i class="fa fa-caret-down position-absolute"></i>
          </div>
        </div>
        <div class="graph-container">
          <div id="fitness_graph" class="w-100">

          </div>
          <div id="nutrition_graph" class="d-none w-100">

          </div>
          <div id="mental_graph" class="d-none w-100">

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="week-container make-flex">
          <div class="schedule">Fitness Schedule</div>
          <div class="make-flex">
            <div class="week week-active">Week 1</div>
            <div class="lr-angle">
              <i class="fa fa-angle-left fa-2x mr-2" aria-hidden="true"></i>
              <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="tabs-container">
          <div class="clr"></div>
          <ul class="nav nav-tabs nav-justified p-tb-20">
            <li class=""><a class="active" data-toggle="tab" href="#tab-1" aria-expanded="true">Monday</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Tuesday</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Wednesday</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Thursday</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Friday</a></li>
            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">Saturday</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Monday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">12</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">2</td>
                      <td class="drill-stat">5</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">15</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">200m</td>
                      <td class="drill-stat">1</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">18</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div id="tab-2" class="tab-pane">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Tuesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">14</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">2</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">15</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">22</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">200m</td>
                      <td class="drill-stat">1</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">25</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-3" class="tab-pane">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Wednesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">1000m</td>
                      <td class="drill-stat">1</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-4" class="tab-pane">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Thursday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">20</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">2</td>
                      <td class="drill-stat">12</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">28</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">200m</td>
                      <td class="drill-stat">1</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">30</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-5" class="tab-pane">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Friday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">2000m</td>
                      <td class="drill-stat">1</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-6" class="tab-pane">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Saturday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">1</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">1</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">1</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">1</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">-</td>
                      <td class="drill-stat">-</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">1</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-6 comparison">
        <div class="comparison-analysis make-flex">
          <div class="schedule">Comparison</div>
          <div class="trend-select position-relative">
            <select class="analysis-dropdown comparison_analysis">
              <option value="physical">Physical</option>
              <option value="tennis">Tennis</option>
            </select>
            <i class="fa fa-caret-down position-absolute"></i>
          </div>

          <!--<div class="trend-select position-relative">-->
          <!--<select class="analysis-dropdown attribute_select" style="width:250px;">-->
          <!--<option value="agility" selected>Agility</option>-->
          <!--<option value="balance">Balance</option>-->
          <!--<option value="endurance">Endurance</option>-->
          <!--<option value="flexibility">Flexibility</option>-->
          <!--<option value="speed">Speed</option>-->
          <!--</select>-->
          <!--<i class="fa fa-caret-down position-absolute"></i>-->
          <!--</div>-->
        </div>
        <div class="comparison-graph-container">
          <div class="comparison_graph_div">
            <div id="physical_comparison_graph" class="w-100">
            </div>
            <div id="tennis_comparison_graph" class="d-none w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 events">
        <div class="events">
          <div class="schedule">Events</div>
          <div class="events-container">
            <div class="clr"></div>
            <ul class="nav nav-tabs nav-justified p-tb-20">
              <li class=""><a class="active" data-toggle="tab" href="#tab-upcoming" aria-expanded="true">Upcoming</a>
              </li>
              <li class=""><a data-toggle="tab" href="#tab-past" aria-expanded="false">Past</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-upcoming" class="tab-pane active">
                <div class="panel-body">
                  <div class="table-title tab-heading-text">Upcoming Events</div>
                  <div class="athlete-drills">
                    <div class="dashboard-fixed-portlet make-flex">
                      <div>
                        <div>
                          <div class="event-name-date">
                            <span class="event-name">Tennis</span>
                            <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 10, 2017
                        </span>
                          </div>
                        </div>
                        <div class="event-venue">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                        </div>
                      </div>
                      <div class="event-icon">
                        <img src="/tennis.png">
                      </div>
                    </div>
                    <div class="dashboard-fixed-portlet make-flex">
                      <div>
                        <div>
                          <div class="event-name-date">
                            <span class="event-name">Physical Assessment</span>
                            <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 15, 2017
                        </span>
                          </div>
                        </div>
                        <div class="event-venue">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                        </div>
                      </div>
                      <div class="event-icon">
                        <img src="/assessment.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-past" class="tab-pane">
                <div class="panel-body">
                  <div class="table-title tab-heading-text">Past Events</div>
                  <div class="athlete-drills">
                    <div class="dashboard-fixed-portlet make-flex">
                      <div>
                        <div>
                          <div class="event-name-date">
                            <span class="event-name">Tennis Assessment</span>
                            <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 10, 2017
                        </span>
                          </div>
                        </div>
                        <div class="event-venue">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                        </div>
                      </div>
                      <div class="event-icon">
                        <img src="/tennis.png">
                      </div>
                    </div>
                    <div class="dashboard-fixed-portlet make-flex">
                      <div>
                        <div>
                          <div class="event-name-date">
                            <span class="event-name">Tennis Assessment</span>
                            <span class="event-date">
                          <i class="fa fa-calendar" aria-hidden="true"></i> December 10, 2017
                        </span>
                          </div>
                        </div>
                        <div class="event-venue">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span class="address">Gurgaon Valley School, Sec-56, Gurgaon</span>
                        </div>
                      </div>
                      <div class="event-icon">
                        <img src="/tennis.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="news-social" style="width: 88%; margin: 0 auto">
        <div class="schedule">News and Tweets</div>
        <div class="news-social-container make-flex">
          <div class="news-parent-container col-7">
            <div class="sub-header-text text-left">News</div>
            <div class="news-container">
              <div class="news make-flex text-left">
                <div class="news-img">
                  <img src="/Roger.jpg">
                </div>
                <div class="news-text">
                  <h5 class="news-headline">Roger Federer downs Alexander Zverev, reaches semi-finals at ATP Finals</h5>
                  <small>NOVEMBER 15, 2017 12:12 PM</small>
                  <p class="news-detail">Roger Federer guaranteed his place in ATP Finals semifinals by defeating Alexander Zverev 7-6, 5-7, 6-1 on Tuesday.</p>
                </div>
              </div>
              <div class="news make-flex text-left">
                <div class="news-img">
                  <img src="/segio.jpg">
                </div>
                <div class="news-text">
                  <h5 class="news-headline">Sergio Ramos scores twice as Spain draw 3-3 with Russia</h5>
                  <small>NOVEMBER 15, 2017 9:45 AM</small>
                  <p class="news-detail">Spain finish 2017 unbeaten, but looked uneasy in defense as its seven-game win streak ended in humid conditions.</p>
                </div>
              </div>
              <div class="news make-flex text-left">
                <div class="news-img">
                  <img src="/cricket.jpg">
                </div>
                <div class="news-text">
                  <h5 class="news-headline">India invite Sri Lanka to play U-19 Challenger Trophy</h5>
                  <small>NOVEMBER 15, 2017 8:42 AM</small>
                  <p class="news-detail">The U19 Challenger Trophy will have a fourth entrant this year as the Indian cricket board has invited Sri Lankan teenagers to spice up the tournament.</p>
                </div>
              </div>
              <div class="news make-flex text-left">
                <div class="news-img">
                  <img src="/china.png">
                </div>
                <div class="news-text">
                  <h5 class="news-headline">Tough draw awaits Indians in China Open</h5>
                  <small>NOVEMBER 14, 2017 12:12 PM</small>
                  <p class="news-detail">top Indian shuttlers gear up for a tough battle in the China Open Super Series Premier Badminton tournament beginning in Fuzhou on Tuesday.</p>
                </div>
              </div>
              <div class="news make-flex text-left">
                <div class="news-img">
                  <img src="/badminton.jpg">
                </div>
                <div class="news-text">
                  <h5 class="news-headline">Saina, Prannoy eye China Open to seal berth at Dubai Final</h5>
                  <small>NOVEMBER 13, 2017 11:42 PM</small>
                  <p class="news-detail">Former World No.1 Saina upstaged Olympic silver-medalist PV Sindhu in the national finals last week to claim her third championship crown, while Prannoy stunned Kidambi Srikanth to clinch his maiden title at the 82nd edition of the event at Nagpur.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="social-container col-5">
            <div class="social">
              <a class="twitter-timeline" data-width="80%" data-height="100%" data-theme="light" href="https://twitter.com/TennisNewsTPN?ref_src=twsrc%5Etfw" data-cards="hidden">Tweets by TennisNewsTPN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<% current_year = Time.current.year %>
<% current_week_of_the_year = Date.today.strftime("%W").to_i %>
<script>
  Highcharts.chart('fitness_graph', {

    chart: {
      type: 'column'
    },

    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6'],
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
    <% user_physical_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_physical_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_physical_score_map[key].present? and user_physical_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
    <% end if user_physical_score_map.present? %>
    ],


  });
</script>

<script>
  var trends_graph_width = $('#fitness_graph').width();
  Highcharts.chart('nutrition_graph', {

    chart: {
      type: 'column',
      width: trends_graph_width
    },
    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6']
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
      <% user_nutrition_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_nutrition_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_nutrition_score_map[key].present? and user_nutrition_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
      <% end if user_nutrition_score_map.present? %>
    ],

  });
</script>

<script>
  var trends_graph_width = $('#fitness_graph').width();
  Highcharts.chart('mental_graph', {

    chart: {
      type: 'column',
      width: trends_graph_width
    },
    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6']
    },
    legend: {
      layout: 'horizontal'
    },
    series: [
      <% user_mental_score_map.keys.each do |key|%>
      {
        name: '<%= key %>',
        data: [
          <% 6.downto(1) {|indx|%>
          <% score_arr = user_mental_score_map[key].collect { |m| m.score if DateTime.parse(m.assessment_date.to_s).strftime("%W").to_i.eql? (current_week_of_the_year - indx)  }.compact if user_mental_score_map[key].present? and user_mental_score_map.present? %>
          <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
          <% } %>
        ]
      },
      <% end if user_mental_score_map.present? %>
    ],

  });
</script>

<script>
  Highcharts.chart('physical_comparison_graph', {

    chart: {
      type: 'bar'
    },
    title: {
      text: 'Fitness Benchmark'
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: <%= sanitize user_physical_score_map.keys.inspect %>
    },
    series: [{
      name: 'You',

      data: [<% user_physical_score_map.keys.each do |key| %>
            <% score_arr = user_physical_score_map[key].collect{|m| m.score}.compact %>
            <%= (score_arr.size.eql? 0) ? 0 : (score_arr.inject{ |sum, el| sum + el }.to_f / score_arr.size).round(1) %>,
        <% end%>
      ]

    },
      {
        name: 'Your Peers',
        data: [11, 12, 11, 12, 13]
      },
      {
        name: 'National Record',
        data: [18, 17, 19, 20, 19]
      },
      {
        name: 'World Record',
        data: [19, 19, 20, 20, 19]
      }],

  });
</script>

<script>
  var comparision_graph_width = $('#physical_comparison_graph').width();
  Highcharts.chart('tennis_comparison_graph', {

    chart: {
      type: 'bar',
      width: comparision_graph_width
    },
    title: {
      text: 'Tennis Benchmark'
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Forehand Accuracy', 'Backhand Accuracy', 'Serve Speed',]
    },
    series: [{
      name: 'You',
      data: [11, 12, 13]
    },
      {
        name: 'Your Peers',
        data: [11, 12, 11]
      },
      {
        name: 'National Record',
        data: [18, 17, 19]
      },
      {
        name: 'World Record',
        data: [19, 19, 20]
      }],

  });
</script>
